In [1]:
import pandas as pd

In [2]:
dfm = pd.read_csv('MCF10A 090718 pooled metadata.csv')

In [3]:
dfm.head()

,Unnamed: 0,Well,ligand,dose,time,Plate,condition,replicate,collection,sampleid
0,Cell_0,C10,ControlT0,0,0,1,ControlT0_0,A,C3,ControlT0_0_C3_A
1,Cell_1,C10,ControlT0,0,0,1,ControlT0_0,A,C3,ControlT0_0_C3_A
2,Cell_2,C10,ControlT0,0,0,1,ControlT0_0,A,C3,ControlT0_0_C3_A
3,Cell_3,C10,ControlT0,0,0,1,ControlT0_0,A,C3,ControlT0_0_C3_A
4,Cell_4,C10,ControlT0,0,0,1,ControlT0_0,A,C3,ControlT0_0_C3_A

In [4]:
dfm.ligand.unique()

array(['ControlT0', 'control', 'TGFb', 'HGF', 'BMP2', 'OSM', 'EGF',
       'IFNg'], dtype=object)

In [5]:
rv = {'ControlT0':'ctrl', 'control':'PBS', 'TGFb':'TGFB', 'IFNg':'IFNG'}
dfm = dfm.replace({'ligand':rv})

In [6]:
dfm['condition'] = ["%s_%s" % (l, t) for l,t in zip(dfm.ligand, dfm.time)]
dfm['sampleid'] = ["%s_%s_%s_%s" % (l, t, c, r) for l,t, c, r in zip(dfm.ligand, dfm.time, dfm.collection, dfm.replicate)]
dfm = dfm.rename(columns = {'Well':'well', 'Plate':'plate'})

In [7]:
dfm.head()

,Unnamed: 0,well,ligand,dose,time,plate,condition,replicate,collection,sampleid
0,Cell_0,C10,ctrl,0,0,1,ctrl_0,A,C3,ctrl_0_C3_A
1,Cell_1,C10,ctrl,0,0,1,ctrl_0,A,C3,ctrl_0_C3_A
2,Cell_2,C10,ctrl,0,0,1,ctrl_0,A,C3,ctrl_0_C3_A
3,Cell_3,C10,ctrl,0,0,1,ctrl_0,A,C3,ctrl_0_C3_A
4,Cell_4,C10,ctrl,0,0,1,ctrl_0,A,C3,ctrl_0_C3_A

In [8]:
dfm.to_csv('MCF10A 090718 pooled metadata CM.csv')